@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i");
.projectContent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 4rem;
  text-align: center; }
  .projectContent .projectCard {
    min-height: 40vh; }
    .projectContent .projectCard .outerCard {
      background: transparent;
      padding: 5%;
      margin-bottom: 10%;
      width: 90%;
      margin: auto; }
      .projectContent .projectCard .outerCard .innerCard {
        background: #721121;
        height: 25em;
        border-radius: 7px; }
        .projectContent .projectCard .outerCard .innerCard .ant-card-cover {
          height: 15em; }
          .projectContent .projectCard .outerCard .innerCard .ant-card-cover img {
            object-fit: cover;
            height: 100%; }
        .projectContent .projectCard .outerCard .innerCard .ant-card-meta-title {
          font-size: 1.3rem;
          color: #fff; }
        .projectContent .projectCard .outerCard .innerCard .ant-card-meta-description {
          font-size: 0.8rem;
          font-style: italic;
          color: rgba(255, 255, 255, 0.75); }
  @media screen and (max-width: 768px) {
    .projectContent {
      left: 5%;
      top: 5rem; }
      .projectContent .projectCard .outerCard .innerCard .ant-card-meta-title {
        font-size: 1rem; } }

.ant-modal .ant-modal-close {
  color: white !important; }

.ant-modal .ant-modal-body {
  background-color: #721121; }
  .ant-modal .ant-modal-body .container {
    height: 70vh; }
    .ant-modal .ant-modal-body .container .row {
      height: inherit; }
      .ant-modal .ant-modal-body .container .row .imageSpace {
        height: inherit; }
        .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer {
          height: inherit; }
          .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .slideArrows {
            position: absolute;
            color: rgba(255, 255, 255, 0.25);
            font-size: 1.5em;
            top: 50%; }
          .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .rightIcon {
            right: 0; }
          .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .leftIcon {
            z-index: 1; }
          .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel {
            height: inherit; }
            .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel div,
            .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel img,
            .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-slider,
            .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-list,
            .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-current,
            .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-track {
              height: inherit; }
              .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel div img,
              .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel img img,
              .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-slider img,
              .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-list img,
              .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-current img,
              .ant-modal .ant-modal-body .container .row .imageSpace .carouselContainer .ant-carousel .slick-track img {
                width: 90%;
                object-fit: scale-down;
                text-align: center;
                margin: auto;
                padding-bottom: 2em;
                padding-top: 2em; }
      .ant-modal .ant-modal-body .container .row .infoSpace {
        height: inherit;
        padding: 0.5em;
        overflow: scroll; }
        .ant-modal .ant-modal-body .container .row .infoSpace .projectInfo {
          height: inherit; }
          .ant-modal .ant-modal-body .container .row .infoSpace .projectInfo p {
            color: white;
            font-size: 0.8em; }
          .ant-modal .ant-modal-body .container .row .infoSpace .projectInfo h3 {
            font-style: italic;
            margin: 0;
            color: rgba(255, 255, 255, 0.35); }
          .ant-modal .ant-modal-body .container .row .infoSpace .projectInfo .btn {
            width: 90%;
            margin: 5%;
            color: #cf301b;
            font-size: 1.5em; }
            .ant-modal .ant-modal-body .container .row .infoSpace .projectInfo .btn:hover {
              border-color: #ceb992;
              color: #ceb992; }

@media screen and (max-width: 992px) {
  .ant-modal .ant-modal-body {
    padding: 8px; }
  .ant-modal .imageSpace {
    height: 50vh !important; }
  .ant-modal .infoSpace {
    text-align: center;
    height: 20vh !important; } }

@media screen and (max-width: 768px) {
  .ant-modal .imageSpace {
    height: 40vh !important; }
  .ant-modal .infoSpace {
    height: 30vh !important; } }

@media screen and (max-width: 480px) {
  .ant-modal {
    position: fixed !important;
    width: 90vw !important;
    left: 5vw;
    top: 5vh !important; } }

#header {
  text-align: center;
  padding: 6rem 0 4rem 0;
  font-family: "Source Sans Pro", sans-serif; }
  #header .avatar {
    border-radius: 100%;
    display: inline-block;
    margin: 0 0 2rem 0;
    padding: 0.5rem;
    border: solid 1px rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.075); }
    #header .avatar img {
      border-radius: 100%;
      display: block;
      width: 8rem; }
  #header .title {
    font-size: 3rem;
    font-weight: normal;
    display: block; }
  #header .hint {
    font-size: 1.2rem;
    font-weight: normal;
    display: block; }
  #header .header-desc {
    color: rgba(255, 255, 255, 0.75);
    font-weight: normal;
    font-style: italic; }
  #header .icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    #header .icons li {
      display: inline-block;
      padding: 0 1rem 0 0; }
      #header .icons li:last-child {
        padding-right: 0; }
    #header .icons .label {
      display: none; }
    #header .icons .icon {
      text-decoration: none;
      border-bottom: none;
      position: relative;
      color: white;
      font-size: 1.5rem; }
      #header .icons .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased; }
      #header .icons .icon.style2 {
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 100%;
        display: inline-block;
        width: 3rem;
        padding: 0.2em;
        border: solid 1px rgba(255, 255, 255, 0.25);
        background-color: rgba(255, 255, 255, 0.075); }
        #header .icons .icon.style2:before {
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          line-height: 1.25rem;
          font-size: 1.35rem; }
        #header .icons .icon.style2:hover {
          background-color: rgba(255, 255, 255, 0.25); }
  @media screen and (max-width: 768px) {
    #header {
      padding: 4rem 0 2rem 0; }
      #header .avatar img {
        width: 4.5rem; }
      #header .title {
        font-size: 2rem; }
      #header .hint {
        font-size: 0.8rem; }
      #header .header-desc {
        font-size: 1rem; } }

.sidebar {
  z-index: 1;
  margin: auto;
  padding: 0;
  text-align: center;
  /* Custom, iPhone Retina */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */ }
  .sidebar .symbol {
    font-size: 32px;
    margin: 3rem 0;
    display: block;
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out; }
    .sidebar .symbol:hover {
      opacity: 0.6; }
    .sidebar .symbol a {
      color: #fff;
      text-decoration: none;
      border-bottom: none; }
  @media screen and (max-width: 768px) {
    .sidebar {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 8em;
      margin: 0;
      list-style: none;
      padding-left: 0; }
      .sidebar .symbol {
        display: inline-block;
        padding: 0 2rem 0 2rem; } }
  @media screen and (min-width: 769px) {
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      height: 40%;
      width: 10vw; } }
  @media screen and (min-width: 1200px) {
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      height: 40%;
      width: 10vw; } }

#t2:target .sidebar .symbol,
#t3:target .sidebar .symbol,
#t4:target .sidebar .symbol {
  transform: scale(0.6);
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
  transition-delay: 0.25s; }

#t2:target #dos {
  transform: scale(1.2) !important; }

#t3:target #tres {
  transform: scale(1.2) !important; }

#t4:target #cuatro {
  transform: scale(1.2) !important; }

html,
body,
section,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  color: #fff;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal; }

body {
  background-image: url("../images/dark.jp2");
  background-size: cover;
  background-position: top center;
  position: relative; }

section {
  width: 400%; }

.page {
  position: absolute;
  overflow: hidden;
  margin: auto; }

#p1 {
  left: 0; }

#p2 {
  left: 100%;
  background: #3d1308; }
  #p2 .headTitle {
    color: #ceb992; }
  @media screen and (max-width: 769px) {
    #p2 {
      bottom: 5em; } }

#p3 {
  left: 200%;
  background: #cf301bec;
  background-size: cover;
  background-position: top center;
  overflow: scroll; }
  @media screen and (max-width: 769px) {
    #p3 {
      bottom: 5em; } }

#p4 {
  left: 300%;
  background: deeppink; }

#t1:target .page#p1 {
  transform: translateX(0); }

#t2:target .page#p2 {
  transform: translateX(-90%); }
  @media screen and (max-width: 768px) {
    #t2:target .page#p2 {
      transform: translateX(-100%); } }

#t3:target .page#p3 {
  transform: translateX(-190%); }
  @media screen and (max-width: 768px) {
    #t3:target .page#p3 {
      transform: translateX(-200%); } }

#t4:target .page#p4 {
  transform: translateX(-290%); }

#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1 {
  background: #202020; }
  #t2:target .page#p1 #header,
  #t3:target .page#p1 #header,
  #t4:target .page#p1 #header {
    -webkit-filter: blur(3px);
    filter: blur(3px); }

.headTitle {
  font-size: 3rem;
  text-decoration: underline;
  position: absolute;
  right: 10%;
  left: 0;
  width: 20rem;
  height: 5rem;
  margin: auto;
  text-align: center;
  color: #ffe8e8; }
  @media screen and (max-width: 768px) {
    .headTitle {
      font-size: 2rem;
      width: 100%;
      margin-top: 3em;
      z-index: 1; } }

.skillsContainer {
  width: 90%; }
  .skillsContainer .iconContainer {
    width: 90%;
    padding: 3em;
    margin: auto;
    margin-top: 3em; }
    .skillsContainer .iconContainer .iconList {
      color: #ceb992 !important;
      font-weight: bold;
      text-align: center;
      padding-bottom: 2em; }
      .skillsContainer .iconContainer .iconList .ant-list-item {
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 20px #2c0e0794, -2px -2px 10px #2c0e0794;
        -moz-box-shadow: 10px 10px 20px #2c0e0794, -2px -2px 10px #2c0e0794;
        box-shadow: 10px 10px 20px #2c0e0794, -2px -2px 10px #2c0e0794; }
        .skillsContainer .iconContainer .iconList .ant-list-item.designIcons {
          margin: 10px 3em 10px 3em; }
      .skillsContainer .iconContainer .iconList img {
        width: 64px;
        height: 64px; }
      .skillsContainer .iconContainer .iconList div {
        padding-top: 5px; }
    @media screen and (max-width: 768px) {
      .skillsContainer .iconContainer {
        margin-top: 8em; }
        .skillsContainer .iconContainer .iconList {
          width: 100%; } }
  .skillsContainer .resumeContainer {
    width: 30%;
    margin: auto;
    text-align: center;
    display: inherit; }
    .skillsContainer .resumeContainer .resume .resumeBtn {
      font-weight: bold;
      color: #ceb992;
      background-color: #3e000c;
      border: 2px solid #ceb992;
      box-shadow: 10px 10px 20px #2c0e07fa; }
      .skillsContainer .resumeContainer .resume .resumeBtn:hover {
        color: #ffe8e8;
        border-color: #ffe8e8; }
