.container {
  height: 100%;
}

.row {
  height: 100%;
}

.col {
  height: 100%;
}

#imageSpace {
  background: #edfceace;
  border-radius: 7px;
}

#infoSpace {
  padding: 10px;
  padding-right: 15px;
  padding-top: 5%;
  background: #edfceace;
  border-radius: 7px;
}

.projectInfo h2,
.projectInfo h3 {
  color: black;
  margin: 0;
}

.projectInfo p {
  font-weight: bold;
  color: rgba(0, 0, 0);
}

.modal .ant-modal-header {
  /* background: #dce1de; */
  border-bottom: none;
  width: 66.66666%;
  text-align: center;
  padding: 0;
}

.ant-carousel {
  height: 100%;
  margin: inherit;
}

.ant-carousel div,
.ant-carousel img,
.ant-carousel .slick-slider,
.ant-carousel .slick-list,
.ant-carousel .slick-track {
  height: 100%;
}

.ant-carousel img {
  max-width: 90%;
  max-height: 100%;
  object-fit: scale-down;
  text-align: center;
  margin: auto;
  padding-bottom: 5%;
  padding-top: 5%;
}

.ant-card-cover {
  height: 30vh;
}

.ant-card-cover img {
  object-fit: cover;
  height: 100%;
}

.text-center {
  text-align: center;
}

.btn {
  /* text-align: center; */
  width: 90%;
  margin: auto;
}

.carouselContainer {
  height: 100%;
}

.rightIcon {
  position: absolute;
  top: 50%;
  right: 0;
  color: rgba(0, 0, 0, 0.25);
}

.leftIcon {
  position: absolute;
  z-index: 1;
  top: 50%;
  color: rgba(0, 0, 0, 0.25);
}

.innerCard {
  background: #d9f8d3ce;
  min-height: 50vh;
  border-radius: 7px;
}

.ant-card-body {
}

.ant-card-meta-title {
  font-size: 1.5vw;
  color: rgba(0, 0, 0);
}

.ant-card-meta-description {
  font-size: 1.1vw;
  color: rgba(0, 0, 0, 0.85);
}

a.ant-btn {
  color: #3f6600;
}

a.ant-btn:hover {
  border-color: #bae637;
  color: #7cb305;
}
